<div class="container w-xxl w-auto-xs" ng-controller="LoginController" ng-init="app.settings.container = false;">
  <a href class="navbar-brand block m-t">{{app.name}}</a>
  <div class="m-b-lg" style="text-align: center;">
    <div class="wrapper text-center">
      <strong>Login to admin panel</strong>
    </div>
    <form name="form" class="form-validation" style="max-width: 400px; margin: 0 auto; ">
      <div class="text-danger wrapper text-center" ng-show="authError">
          {{authError}}
      </div>
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <input type="email" placeholder="Email" class="form-control no-border" ng-model="user.email" required>
        </div>
        <div class="list-group-item">
           <input type="password" placeholder="Password" class="form-control no-border" ng-model="user.password" required>
        </div>
      </div>
      <a type="submit" class="btn applyButton" ng-click="login()" ng-disabled='form.$invalid'>Log in</a>
    </form>
  </div>
  <div class="text-center" ng-include="'templates/blocks/page_footer.html'">
    {% include 'blocks/page_footer.html' %}
  </div>
</div>