<div class="modal-header">
    <h3>Update User Details</h3>
</div>


<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <form role="form" id="cardForm" method="POST" ng-submit="updateUser(user)" class="form-horizontal">

                <div class="form-group">
                    <label class="col-sm-4 control-label">User email</label>
                    <div class="col-sm-8">
                        <input id="user-email" type="email" class="form-control" ng-model="user.email" placeholder="Email" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Username</label>
                    <div class="col-sm-8">
                        <input id="user-username" type="text" class="form-control" ng-model="user.username" placeholder="Username" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">First name</label>
                    <div class="col-sm-8">
                        <input id="user-first-name" type="text" class="form-control" ng-model="user.firstName" placeholder="First Name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Last name</label>
                    <div class="col-sm-8">
                        <input id="user-last-name" type="text" class="form-control" ng-model="user.lastName" placeholder="Last Name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Password</label>
                    <div class="col-sm-8">
                        <input id="user-password" type="password" class="form-control" ng-model="user.password" placeholder="Password">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-4 control-label">Clients</label>
                    <div class="col-sm-8">
                        <ui-select multiple ng-model="user.clients" theme="bootstrap" ng-disabled="ctrl.disabled" close-on-select="false" title="Choose clients">
                            <ui-select-match placeholder="Select clients...">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="client in $root.clientList">
                                {{client}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Traders</label>
                    <div class="col-sm-8">
                        <ui-select multiple ng-model="user.traders" theme="bootstrap" ng-disabled="ctrl.disabled" close-on-select="false"  title="Choose traders">
                            <ui-select-match placeholder="Select traders...">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="trader in $root.traderList">
                                {{trader}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <div id="cardFormError" class="alert alert-danger" ng-show="showError" role="alert">
                            <p>Error: {{error}}</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4">
                        <button type="submit" class="btn btn-primary" ng-disabled="isDisabled">Update User</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

