<div class="wrapper-md">
  <div class="panel-body b-b b-light">
    <div class="pull-left">
      Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
    </div>

    <div class="pull-right">
      <button type="button" class="btn btn-primary" ng-click="showAddModal()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add New User
      </button>
    </div>
  </div>

  <table class="table table-bordered table-hover table-condensed bg-white-only footable"  data-filter="#filter"  data-page-size="25">
    <thead>
      <tr style="font-weight: bold">
        <th style="width:20%">User ID</th>
        <th style="width:10%">Username</th>
        <th style="width:10%">Email</th>
        <th style="width:10%">User Type</th>
        <th style="width:10%">First Name</th>
        <th style="width:10%">Last Name</th>
        <th style="width:10%">Clients</th>
        <th style="width:10%">Traders</th>
        <th style="width:10%">Created</th>
        <th style="width:15%">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users" footable-directive>
        <td class="v-middle">
            {{ user._id }}
        </td>

        <td class="v-middle">
          {{ user.username }}
        </td>

        <td class="v-middle">
          {{ user.email }}
        </td>

        <td class="v-middle">
          {{ user.userType }}
        </td>

        <td class="v-middle">
          {{ user.firstName || '_' }}
        </td>

        <td class="v-middle">
          {{ user.lastName || '_' }}
        </td>
        <td class="v-middle">
          {{ user.clients.join() || '_' }}
        </td>
        <td class="v-middle">
          {{ user.traders.join() || '_' }}
        </td>
        <td class="v-middle">
          {{ user.createdAt * 1000 || 'empty' | date:'yyyy-MM-dd HH:mm' }}
        </td>

        <td style="white-space: nowrap">
          <div class="buttons btn-group" uib-dropdown="" ng-show="!rowform.$visible">
            <button id="single-button" type="button" class="btn btn-success btn-sm" uib-dropdown-toggle ng-disabled="disabled">
              Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
              <li role="menuitem"><a ng-click="showUpdateModal(user)">Edit</a></li>
              <li role="menuitem"><a ng-click="removeUser(user._id)"  confirm="Are you sure to remove this user?">Delete</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot class="hide-if-no-paging">
      <tr>
        <td colspan="10" class="text-center">
          <ul class="pagination"></ul>
        </td>
      </tr>
    </tfoot>
  </table>
</div>