<style>
  .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>

<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Records</h1>
</div>
<div class="wrapper-md">
  <h4>Records Table</h4>


  <!-- Navigation -->


  <div id="page-wrapper" ng-controller="RecordsController">
    <div class="row">
      <div class="col-lg-12">
        <!-- /.panel -->
        <div class="panel panel-info" id="filterSection">
          <div class="panel-heading">
            Filter
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <form role="form">
              <div class="form-group row">
                <div class="col-md-4">
                  <label>Date: </label>
                  <select name="currDate" id="currDate" class="form-control"  ng-model="currDate">
                    <option value="">ALL</option>
                  </select>
                </div>

                <div class="col-md-2">
                  <label>Begin Date: </label>
                  <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="startDate" is-open="popup1.opened" datepicker-options="dateOptionsStart" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" max-date="endDate"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </p>
                </div>

                <div class="col-md-2">
                  <label>End Date: </label>
                  <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="endDate" is-open="popup2.opened" datepicker-options="dateOptionsEnd" ng-required="true" close-text="Close" min-date="startDate"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </p>
                </div>

                <div class="col-md-2">
                  <label>Min. Size: </label>
                  <input type="text" name="minSize" id="minSize" class="form-control"  ng-model="minSize">
                </div>
                <div class="col-md-2">
                  <label>Max. Size:</label>
                  <input type="text" name="maxSize" id="maxSize" class="form-control" ng-model="maxSize">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-2">
                  <label>Client: </label>
                  <select name="client" id="client" class="form-control" ng-model="client">
                    <option value="all">ALL</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label>FCM: </label>
                  <select name="fcm" id="fcm" class="form-control" ng-model="fcm">
                    <option value="">ALL</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label>Trader: </label>
                  <select name="trader" id="trader" class="form-control" ng-model="trader">
                    <option value="">ALL</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label>Algo: </label>
                  <select name="algo" id="algo" class="form-control" ng-model="algo">
                    <option value="">ALL</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label>Exchange: </label>
                  <select name="exchange" id="exchange" class="form-control" ng-model="exchange">
                    <option value="">ALL</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-2">
                  <label>Instrument: </label>
                  <select name="instrument" id="instrument" class="form-control" ng-model="instrument">
                    <option value="">ALL</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label>&nbsp;</label>
                  <input type="button" value="Apply" ng-click="filterPivotTable()" class="btn btn-md btn-info form-control" />
                </div>
              </div>
            </form>
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.row -->
    </div>

    <div class="row">
      <div class="col-lg-12">
        <!-- Pivote Table -->
        <div class="panel panel-info" id="avgSection">
          <div class="panel-heading">
            Stats
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="table-responsive" id="avgTableDiv">
              <p ng-bind="total_records">Total : 0 Records</p>
            </div>
          </div>
        </div>
        <!-- End of Pivot table -->
      </div>
      <!-- /.row -->
    </div>
    <div class="row">
      <div class="col-lg-12">
        <!-- Pivote Table -->
        <div class="panel panel-info" id="pivoteSection">
          <div class="panel-heading">
            Pivot Table
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div id="pgrid"  style="overflow-x: scroll"></div>
          </div>
        </div>
        <!-- End of Pivot table -->
      </div>
      <!-- /.row -->
    </div>
  </div>
  <!-- /#page-wrapper -->
</div>