<style>
    .nav,
    .pagination,
    .carousel,
    .panel-title a {
        cursor: pointer;
    }

    .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
    }

    .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
    }

    .qb-adjust {
        background-color: white;
        font-style: normal;
        font-variant: normal;
        font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    }

    body
    {
        height:100%;
    }
</style>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" ng-bind="modalTitle"></h3>
    </div>
    <div class="modal-body" style="width:1500px;">
        <table class="table table-bordered table-hover table-condensed bg-white-only footable">
            <thead>
            <tr>
                <td ng-repeat="field in fields_arr">
                    {{field}}
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td ng-repeat="field in fields_arr">
                    {{item[field]}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</script>

<div class="qb-adjust lter b-b wrapper-md">
    <a href="#" class="pull-left"><img src="image/logoqb.gif"></a>
    <br />
    <br />
    <br />
    <br />
    <div><div class="col-md-8"><h4>Help Desk: 1-646-293-1850</h4></div><div class="col-md-4" style="width: 250px; float: right;"><input type="button" value="Show Instruction" ng-click="openInstruction()" class="btn btn-md btn-success form-control" /></div>

</div>
<div class="wrapper-md qb-adjust">
    <div id="page-wrapper" ng-controller="RecordsController">
        <div class="row">
            <div class="col-lg-12">
                <form role="form">
                    <div class="form-group row">
                        <div class="col-md-4" data-intro="Default date range options." data-position="top">
                            <label>Date: </label>
                            <select name="dateRangeOption" id="dateRangeOption" class="form-control" ng-model="dateRangeOption" ng-change="dateRangeOptionChange()">
                                <option value="">ALL</option>
                                <option value="lastday">Last Business Day</option>
                                <option value="lastweek">Last Week</option>
                                <option value="lastmonth">Last Month</option>
                                <option value="lastquarter">Last Quarter</option>
                                <option value="lastyear">Last Year</option>
                            </select>
                        </div>

                        <div class="col-md-2" data-intro="Filter by begin date." data-position="top">
                            <label>Begin Date: </label>
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="startDate" is-open="popup1.opened" datepicker-options="dateOptionsStart" ng-required="true" close-text="Close" max-date="endDate" />
                                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                            </p>
                        </div>

                        <div class="col-md-2" data-intro="Filter by end date." data-position="top">
                            <label>End Date: </label>
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="endDate" is-open="popup2.opened" datepicker-options="dateOptionsEnd" ng-required="true" close-text="Close" min-date="startDate" />
                                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                            </p>
                        </div>

                        <div class="col-md-1" data-intro="Filter by min size." data-position="top">
                            <label>Min. Size: </label>
                            <input type="number" name="minSize" id="minSize" class="form-control" ng-model="minSize">
                        </div>
                        <div class="col-md-1" data-intro="Filter by max size." data-position="top">
                            <label>Max. Size:</label>
                            <input type="number" name="maxSize" id="maxSize" class="form-control" ng-model="maxSize">
                        </div>

                        <div class="col-md-2" data-intro="Apply Filter." data-position="top">
                            <label>&nbsp;</label>
                            <input type="button" value="Apply" ng-click="filterPivotTable()" class="btn btn-md btn-success form-control" />
                        </div>
                    </div>
                </form>

                <div>
                    <div class="col-md-2" data-intro="Expand All" data-position="top">
                        <input type="button" value="Expand All" ng-click="expandAll()" class="btn btn-md btn-success form-control" />
                    </div>
                    <div class="col-md-2" data-intro="Collapse All" data-position="top">
                        <input type="button" value="Collapse All" ng-click="collapseAll()" class="btn btn-md btn-success form-control" />
                    </div>
                </div>

                <!-- /.row -->
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <!-- Pivote Table -->

                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="pgrid" style="overflow-x: scroll;"></div>
                        </div>

                        <!-- End of Pivot table -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /#page-wrapper -->
        </div>
    </div>
